{% block body %}
<div>
<p>New-user</p>
   <div>
   
        <p>Imie i Nazwisko: {{ user.name|e }} {{user.surname|e}}</p>
        <p>Email: {{user.email|e}}</p>
        <p>Hasło to: {{user.getTmpPassword()|e}}</p>
        <div>
            <p>Opis:{{ user.descriptions|e }}</p>
            {% for position in user.getPositionId()%}
                <p>Stanowisko:{{position.getPositionId().name}}</p>
                {% set data,texts= position.dataDecode(),position.getPositionId().getTextsByNamePositons()
                 %}
                <div>Informacje:
                <p>{{texts.text1}} : {{data.text1}}</p>
                <p>{{texts.text2}} : {{data.text2}}</p>
                <p>{{texts.checkBox}}:
                {% if data.checkBox%}
                        tak
                {% else %}
                        nie
                {% endif %}
                </p>
                </div>
            {% endfor %}
    </div>
    </div>
    </div>
</div>
{% endblock %}
