
.user-wrapper{
    padding: 40px 20px;
    border-radius: 3px;
    width: 400px;
    background-color: white;
        height: max-content;
}

.user-wrapper > p{
text-transform: uppercase;
font-weight: 600;
text-align: center;
}


.user-box{
    padding: 40px 10px;
    background-color: rgb(238, 236, 236);
    border-radius: 3px;
    margin-bottom: 20px;
    position: relative;
}

.position-box{
    padding: 10px;
    background-color: white;
    border-radius: 3px;
    border: 1px solid lightgray;
}

.edit-box,.remove-box{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 13px;
    text-transform: uppercase;
    padding: 5px;
    border-radius: 3px;
    background-color: rgb(244, 7, 7);
    transition: all 1s ease-in-out;
}
.edit-box{
    background-color: rgb(7, 244, 15);
    right: 70px;
}

.remove-box:hover{
    background-color: rgb(231, 121, 121);
    cursor: pointer;
}
.edit-box:hover{
    background-color: rgb(133, 218, 136);
    cursor: pointer;
}