.edit-user-box{
    padding: 30px 20px;
    border-radius: 3px;
    background-color: white;
}

.edit-user-box>form{
    margin-bottom: 20px;
}

.edit-user-box>form>div{
    display: flex;
    flex-direction: column;
}

.edit-user-box>form>div>div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 10px;
}

.edit-user-box>form>div>div:has(button){
    justify-content: center;
    align-items:center ;
}

#user_zapisz,#user_positions_zapisz{
            max-width: 100px;
            padding: 5px 10px;
}