
{% extends './base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('css/main.css') }}" rel="stylesheet">
    <link href="{{ asset('css/admin.css') }}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="user-wrapper">
<p>Użytkownicy  </p>
<p>ilość [<em class="count-users">{{users|length}}</em>]</p>
   {% for user in users %}
   <div class="user-box">
   <div class="remove-box" data-id="{{user.id}}">
        usuń
   </div>
      <div class="edit-box" data-id="{{user.id}}">
            Edytuj
   </div>
   <div>
        <p>Imie i Nazwisko: {{ user.name|e }} {{user.surname|e}}</p>
        <p>Email: {{user.email|e}}</p>
        <div class="position-box">
            <p>Opis:{{ user.descriptions|e }}</p>
            {% for position in user.getPositionId()%}
                <p>Stanowisko:{{position.getPositionId().name}}</p>
                {% set data,texts= position.dataDecode(),position.getPositionId().getTextsByNamePositons()
                 %}
                <div>Informacje:
                {% if texts.text1 is defined and texts.text2 is defined  %}
                <p>{{texts.text1}} : {{data.text1}}</p>
                <p>{{texts.text2}}:{{data.text2}}</p>
                {% endif %}
                <p>{{texts.checkBox}}:
                {% if data.checkBox%}
                        tak
                {% else %}
                        nie
                {% endif %}
                </p>
                </div>
            {% endfor %}
        </div>
    </div>
    </div>

    {% endfor %}

</div>
{% endblock %}

{% block javascripts %}
     <script src="{{ asset('js/admin.js') }}" type="text/javascript"></script>
{% endblock %}