{% extends './base.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('css/main.css') }}" rel="stylesheet">
    <link href="{{ asset('css/edit-user.css') }}" rel="stylesheet">   
{% endblock %}
{% block title %}edit {{ user.name|e }} {{user.surname|e}}{% endblock %}
     {% block body %}
     <div class="edit-user-box">
     <a href="{{ path('list-admin') }}">Powrót do Listy</a>

      <h2>Edit User {{ user.name|e }} {{user.surname|e}}</h2>
      {{form(form)}}

      {{form(form2)}}
      </div>
    {% endblock %}


    {% block javascripts %}
     <script src="{{ asset('js/edit-users.js') }}" type="text/javascript"></script>
{% endblock %}